html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        50% 50% at 100% 0,
        #f2f2f2 0% 5%,
        #ffffff 6% 15%,
        #f2f2f2 16% 25%,
        #ffffff 26% 35%,
        #f2f2f2 36% 45%,
        #ffffff 46% 55%,
        #f2f2f2 56% 65%,
        #ffffff 66% 75%,
        #f2f2f2 76% 85%,
        #ffffff 86% 95%,
        #0000 96%
        ),
        radial-gradient(
        50% 50% at 0 100%,
        #f2f2f2 0% 5%,
        #ffffff 6% 15%,
        #f2f2f2 16% 25%,
        #ffffff 26% 35%,
        #f2f2f2 36% 45%,
        #ffffff 46% 55%,
        #f2f2f2 56% 65%,
        #ffffff 66% 75%,
        #f2f2f2 76% 85%,
        #ffffff 86% 95%,
        #0000 96%
        ),
        radial-gradient(
        50% 50%,
        #f2f2f2 0% 5%,
        #ffffff 6% 15%,
        #f2f2f2 16% 25%,
        #ffffff 26% 35%,
        #f2f2f2 36% 45%,
        #ffffff 46% 55%,
        #f2f2f2 56% 65%,
        #ffffff 66% 75%,
        #f2f2f2 76% 85%,
        #ffffff 86% 95%,
        #0000 96%
        ),
        radial-gradient(
            50% 50%,
            #f2f2f2 0% 5%,
            #ffffff 6% 15%,
            #f2f2f2 16% 25%,
            #ffffff 26% 35%,
            #f2f2f2 36% 45%,
            #ffffff 46% 55%,
            #f2f2f2 56% 65%,
            #ffffff 66% 75%,
            #f2f2f2 76% 85%,
            #ffffff 86% 95%,
            #0000 96%
        )
        38px 38px;
    background-size: 76px 76px;
    background-color: #ffffff;
}

.banner {
    background-image: url('https://as1.ftcdn.net/jpg/05/43/05/36/1000_F_543053683_8El6EbHjxlTrLIHUfHIVnoUWqJlivKq5.jpg');
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
}

.banner img {
    width: 300px;
    height: 130px;
    object-fit: cover;
    border: 3px solid #000;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.banner img:hover {
    transform: scale(1.1);
}

.categorias-nav {
    background-color: #fff;
    padding: 1rem 0;
    border-top: 1px solid rgb(62, 61, 61);
    border-bottom: 1px solid rgb(62, 61, 61);
    text-align: center;
}

.fondoCategorias {
    width: 100%;
    --s: 120px; 
    --c1: rgb(69, 68, 68);
    --c2: #272728;

    --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
        var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
        var(--c1) 76% 84%, var(--c2) 86% 94%;
    background: radial-gradient(
        100% 100% at 100% 0,
        var(--c1) 4%,
        var(--_g),
        #0008 96%,
        #0000
        ),
        radial-gradient(
            100% 100% at 0 100%,
            #0000,
            #0008 4%,
            var(--_g),
            var(--c1) 96%
        )
        var(--c1);
    background-size: var(--s) var(--s);
}

.categorias-nav a {
    margin: 0 0.5rem;
    font-family: 'Century Gothic', sans-serif;
}

.titulo-carteras {
    background-color: #f2f2f2;
    padding: 1.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Aharoni', sans-serif;
}

.grid-productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.producto:hover {
    transform: scale(1.02);
}

.producto {
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    overflow: hidden;
    padding: 8px;
    box-sizing: border-box;
    transition: transform 0.2s;
}

.producto img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    margin-bottom: 8px;
    border-radius: 10px;
    border: 2px solid black
}

.producto p {
    margin: 0;
    font-weight: bold;
    text-align: center;
    font-family: 'Century Gothic', sans-serif;
}

footer img {
    object-fit: cover;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 15px;
    justify-items: center;
    max-height: 800px;
    overflow-y: auto;
}

footer p{
    font-family: 'Century Gothic', sans-serif;
}

.btn:hover{
    transform: scale(1.1);
}

@media (max-width: 576px) {
    .circle img {
        width: 100px !important;
        height: 100px !important;
        object-fit: cover;
    }

    .circle {
        width: 100px !important;
        height: 100px !important;
    }

    .categorias-nav a {
        padding: 8px 10px !important;
        font-size: 0.8rem !important;
        margin-bottom: 5px;
        display: block;
    }

    .social-icon {
        width: 35px !important;
        height: 35px !important;
    }
}

@media (max-width: 768px) {
    .container-fluid.mb-4 .row {
        flex-direction: column;
    }

    .container-fluid.mb-4 .col-md-4,
    
  .container-fluid.mb-4 .col-md-8 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .container-fluid.mb-4 .col-md-8 {
        margin-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .productos-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .productos-grid {
        grid-template-columns: 1fr;
    }
}

